body {
	background-color: #eaf2e3;
	color: #333;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.parrafo-destacado {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.contenedor-parrafos {
	background-color: #fdfdfd;
	border: 2px solid #ccc;
	padding: 20px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}